.column {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.columnHeader {
  display: flex;
  justify-content: space-between;
  align-items: center
}

.columnTitle {
  font-weight: 600;
  font-size: 1rem;
}

.tasksList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.addCardBtn {
  align-self: center;
  color: #aaa;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  background: transparent;
  border: none;
}
