.main {
  grid-area: main;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  gap: 1.5rem;
}

/* ------   header line - --------- */
.headerLine {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h1 {
    margin: 0;
  }
}

.usersBlock {
  display: flex;
  gap: 0.5rem;
}

.usersList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 0.5rem;

}

.avatar {
  border-radius: 50%;
  width: 2.2rem;
}

.addUserBtn {
  width: 2.2rem;
  height: 2.2rem;
  padding: 0;
  color: #aaa;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: transparent;

  svg {
    width: 2.2rem;
    height: 2.2rem;
  }
}

/* ---------------- */