.App {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 10rem;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    'header header'
    'main aside'
  ;
  background-color: #ECF2F9;
  background: linear-gradient(35deg, #ebebf3, #ebebf3, #e3ddc3);
}
